html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	height: 100%;
}

.rv-xy-plot {
	font-size: 0.7rem;
}

.app {
	display: flex;
	flex: 1;
	min-width: 100%;
}

.activity-data-viewer {
	flex: 1 1 auto;
	min-width: 700px;
	margin-right: 10px;
}

.activity-data-welcome {
	text-align: center;
}

.test-data-chart {
	min-height: 300px;
}
